.contact-section {
  width: 60%;
}

@media (max-width: 768px) {
    .contact-section {
  width: 80%;
}



}
.contact-section {
  .form-container {
    form {

      button.btn-primary {
        display: block;
        margin: 20px auto 0 auto;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }
}
